h1, h2, h3, h4, h5, h6
{
    color: Black;
}

div.comentario 
{
     border: 1px solid Gray;
     height: 230px;
     margin: 0 auto;
     background-color: #ead3ab;
     border-radius: 30px;
     margin-bottom: 10px;
     margin-top: 10px;
}

img.comentario 
{
    border: 2px ridge White;
    float: left;
    margin: 20px;
    margin-top: 40px;
    width: 40px;
    height: 40px;
    display:inline;
}

p.comentario 
{
    color: #8c7052;
    width: 400px;
    font-style:italic;
   
}

span.comentario 
{
    float: right;
    color: #78532a;
    margin-left: 5px;
    height: auto;
    width: 463px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

label.comentario 
{
    margin-left: 15px;
}

div.mensaje1 
{
     float: right;
     border: 5px double #8be0a7;
     width: 500px;
     height: 160px;
     margin: 0 auto;
     background-color: #e5f7ea;
     border-radius: 30px;
     margin: 10px;
}

div.mensaje 
{
    color: #4e504f;
    margin-left: 20px;
    height: 137px;
    width: 455px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
}

div.mensaje2
{
     float: left;
     border: 5px double #8bd7e0;
     width: 500px;
     height: 160px;
     margin: 0 auto;
     background-color: #e5f4f7;
     border-radius: 30px;
     margin: 10px;
}

label.mensaje 
{
    margin-left: 40px;
}