h1, h2, h3, h4, h5, h6
{
    color: Black;
}

div.comentario 
{
     border: 1px solid Gray;
     margin: 0 auto;
     background-color: #ead3ab;
     border-radius: 30px;
     margin-bottom: 10px;
     margin-top: 10px;
     clear:both;
     padding: 10px;
     padding-top:0;
     padding-bottom:0;
}

img.comentario 
{
    border: 2px ridge White;
    margin-left:10px;
    margin-top:-20px;
    width: 60px;
    height: 60px;
    margin-bottom:20px;
}

p.comentario 
{
    text-align:left;
    color: #8c7052;
    width: 550px;
    font-style:italic;
    left: 50px;
    position: relative;
   
}

p.cabecera 
{
    color: #78532a;
    width: 600px;
    text-align:right;
    margin-left: 5px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
   
}

span.comentarioimg
{
    float: left;
}

span.comentarioclear
{
    clear:both;
    display:block;
}

label.comentario 
{
    margin-left: 15px;
}

/*
div.mensaje1 
{
     overflow: auto;
     float: right;
     border: 5px double #8be0a7;
     width: 600px;
     /*height: 160px;
     margin: 0 auto;
     background-color: #e5f7ea;
     border-radius: 30px;
     margin: 4px;
}

div.mensaje 
{
    overflow: auto;
    color: #4e504f;
    margin-left: 20px;
    /*height: 137px;
    width: 560px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
}

div.mensaje2
{
    overflow: auto;
    float: left;
    border: 5px double #8bd7e0;
    width: 600px;
    /*height: 160px;
    margin: 0 auto;
    background-color: #e5f4f7;
    border-radius: 30px;
    margin: 4px;
}

label.mensaje 
{
    margin-left: 40px;
}
*/